name: Build and deploy Python app to Azure Web App

env:
  AZURE_WEBAPP_NAME: queryaichat   # set this to your application's name

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: 'read'
  packages: 'write'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
  
      - name: Log in to GitHub container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Lowercase the repo name
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
  
      - name: Build and push container image to registry
        uses: docker/build-push-action@v4
        with:
          context: ./
          push: true
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}
          file: ./Dockerfile
          build-args: |
            DBUSER=${{ secrets.DBUSER }}
            DBPASS=${{ secrets.DBPASS }}
            DBHOST=${{ secrets.DBHOST }}
            DBPORT=${{ secrets.DBPORT }}
            DBSCHEMA=${{ secrets.DBSCHEMA }}
            OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
          no-cache: true

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Lowercase the repo name
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
        
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'ghcr.io/${{ env.REPO }}:${{ github.sha }}'
